<input id="name" placeholder="product name">
<input id="price" placeholder="product price">
<button (click)="addProduct()">Add product</button>
<table id="table">
    <tr>
        <th>Product</th>
        <th>Price</th>
    </tr>
    @if (isUpdated()) {
    @for (product of products;track product) {
        <tr>
            <td>{{product}}</td>
            <td>{{localstorage.getItem(product)}}</td>
            <td><button (click)="removeProduct(product)">remove</button></td>
        </tr>
    }
    } @else {
    @for (product of products;track product) {
        <tr>
            <td>{{product}}</td>
            <td>{{localstorage.getItem(product)}}</td>
            <td><button (click)="removeProduct(product)">remove</button></td>
        </tr>
    }
    }
</table>